<div class="local-search local-search-plugin backdrop-filter-blur-x">
  <input type="search" id="local-search-input" class="local-search-input" placeholder="搜索...">
  <div id="local-search-result" class="local-search-result"></div>
</div>