@keyframes down
      0%
        margin-bottom 0
        opacity 1
      100%
        margin-bottom -15px
        opacity .1
//
.cover-frame
  position relative
  min-width 100%
  height 100%
  .bg-box
    width 100%
    height 100%
    &>img
      display block
      width 100%
      height 100%
      object-fit cover
      object-position center center
.cover-inner
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .4)
  cursor default
  color #fff
  .cover-inner-box
    margin-top: 15vh
    transform translateY(-50%)
    h1
      font-family: font-family-base
      font-size 5rem
      margin 0
      opacity .95
    #subtitle-box
      font-family: font-family-base
      font-size 2.5rem
    video, img
      position relative
    .cover-logo
      width cover-logo-size


.cover-learn-more
  display none
  position absolute
  z-index 1
  bottom 10px
  left 0
  width 100%
  a > i
    font-size 3rem
    color white
    animation down 1s linear infinite
    &:hover
      color sea

.brand-frame
  position relative
  min-width 100%
  .brand-inner
    text-align center
    h1
      font-family: font-family-base
    #subtitle-box
      font-size: 20px
    a, &
      color body-color
      text-decoration none

.float_btns
  position fixed
  bottom 6rem
  right 3rem
  z-index 9996
  text-align center
  transform scale(1.2)
  width: 50px
  float: right

#mask
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background-color rgba(0,0,0,.8)
  z-index 9998
  display none

.word_count
  margin-top 5px
  color darken(gray,30%)
  padding-bottom 1rem
  border-bottom 1px solid darken(froth-light,2%)

// Media Query
@media (max-width: 768px)
  .cover-inner
    h1
      font-size 4.5rem
    #subtitle-box
      font-size 2rem
    &:active
      opacity: 0
  
  .float_btns
    right 10px

@media (min-width: 768px) 
  .cover-inner:hover 
    opacity 0
